body {
    font-size: 16px;
    background-color: #EEA47FFF;
}


/** HEADER **/

#header-nav {
    background-color: #00539CFF;
    border-radius: 0;
    border: 0;
}

#header-nav button {
    margin-top: 22px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fce29e;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}

.navbar-brand h1 {
    color: #7d1913;
    font-weight: bolder;
    font-size: 1.8em;
}

.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #fe9797;
}

#nav-list {
    background-color: #00539CFF;
}

#nav-list a {
    font-weight: bolder;
    color: #282828;
    font-size: 1.2em;
}

#nav-list a:hover {
    color: #202020;
    background-color: #fce29e;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #7d1913;
}


/** END HEADER */


/** HOME PAGE **/

#main-content {
    width: 92%;
    margin-bottom: 30px;
}

#main-content h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #ffffff;
}

#main-content h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
}

#vadapav-tile, #pohe-tile, #tea-tile {
    width: 100%;
    padding: 10px;
    background-color: #8BBEE8FF;
    margin-bottom: 60px;
    box-shadow: 0 0 80px 0;
}

#vadapav-tile:hover, #pohe-tile:hover, #tea-tile:hover
{
    background-color: #6DAC4FFF;
}


/** END HOME PAGE **/
